
.content-wrapper {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 20px; 
  }
  
  .text-content {
    width: 50%; 
    color: white;
  }
  
  .image-content2 {
    width: 50%; 
    text-align: left; 
  }
  
  .resized-image2 {
    width: 500px; 
    height: auto; 
    border-radius: 1rem;
    margin-left: 2rem;
  }
  .block-span {
    display: block; 
    margin-top: 5px; 
  }
  
  