

.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  top: 0;right: 0;left: 0;bottom: 0;
}


.chat-box{
  flex: 1;
  background-color: #000000;
  position: relative;
}
.chat-input-holder {
  padding: 24px;
  position: absolute; /* Position at the bottom of the chat box */
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000; /* Match chat box background */
}

.chat-input-textarea {
  width: calc(100% - 48px); /* Match the width of the input area */
  padding: 12px; /* Match the padding of the input area */
  color: white;
  font-size: 1.25em; /* Match the font size of the input area */
  border-radius: 5px; 
  border: none;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.25); 
  margin: auto;

}
.chat-log {
  overflow-y: auto; /* Allow scrolling */
  flex-grow: 1; /* Allow chat log to expand to fill space */
  
  margin-bottom: 120px; /* Push the chat log up from the bottom */
}

.chat-message {
  max-width: 80%; /* or any other max-width that fits your design */
  margin: 0 auto; /* centers the messages */

}
.chat-box {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-end; /* Align children to the bottom */
  background-color: #000000;
  position: relative; /* Keep this for positioning children absolutely within it */
  height: 100%; /* Set to full height of the parent container */
}

.chat-message-center {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center; 

}
.chat-message.chatgpt{
  margin-top: 15px;
  background-color: rgb(28, 65, 65);
  height: auto;
  border-radius: 10px;

}
.chat-message-center{
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
 
}
/* .avatar{
background-color: rgb(255, 255, 255);
border-radius: 50px;
width: 40px;
height: 40px;
} */
.avatar-img {
  border-radius: 50%;  
  object-fit: cover;  
  width: 41px;         
  height: 41px;        
}



.message{
  font-size: 15px;
/* margin-left: 10px; */
max-height: none;
margin: auto;
  
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}